{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Recipe</h3>

    <div class="row container">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- Select Category -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="category_name" name="category_name" class="validate" required>
                      <option value="" disabled selected>Choose Category</option>
                      {% for category in categories %}
                      <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                      {% endfor %}
                    </select>
                    <label for="category_name">Recipe Category</label>
                  </div>
            </div>
            <!-- Recipe Name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" 
                    type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- Recipe Ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_ingredients" name="recipe_ingredients" type="tel" class="validate" required>
                    <label for="recipe_ingredients">Ingredients</label>
                </div>
            </div>
            <!-- Preparation instructions -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="preparation" name="preparation" type="tel" class="validate" required>
                    <label for="preparation">Preparation</label>
                </div>
            </div>
            <!-- Upload Image of Cocktail -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="img_url" name="img_url" type="tel" class="validate" required>
                    <label for="img_url">Image URL</label>
                </div>
            </div>
            <!-- Image alt -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="img_description" name="img_description" type="tel" class="validate" required>
                    <label for="img_description">Image Description (for screen readers)</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button class="btn-floating btn-large black"><i class="fas fa-plus"></i>"></button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}