{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Edit Recipe</h3>

    <div class="row">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!-- Select Category -->
            <div class="row">
                <div class="input-field col s12">
                    <select id="category_name" name="category_name" class="validate" required>
                      <option value="" disabled>Choose Category</option>
                      {% for category in categories %}
                        {% if category.category_name == recipe.category_name %}
                            <option value="{{ category.category_name }}"selected>{{ category.category_name }}</option>
                        {% else %}
                            <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                    <label for="category_name">Recipe Category</label>
                  </div>
            </div>
            <!-- Recipe Name -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_name" name="recipe_name" minlength="5" maxlength="50" 
                        value="{{ recipe.recipe_name }}" type="text" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- Recipe Ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="recipe_ingredients" name="recipe_ingredients" 
                        value="{{ recipe.recipe_ingredients }}" type="tel" class="validate" required>
                    <label for="recipe_ingredients">Ingredients</label>
                </div>
            </div>
            <!-- Preparation instructions -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="preparation" name="preparation" 
                        value="{{ recipe.preparation }}" type="tel" class="validate" required>
                    <label for="preparation">Preparation</label>
                </div>
            </div>
            <!-- Upload Image of Cocktail -->
            <div class="row">
                <div class="input-field col s12">
                    <input id="img_url" name="img_url" 
                        value="{{ recipe.img_url }}" type="tel" class="validate" required>
                    <label for="img_url">Image URL</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <!-- cancel button-->
                    <a href="{{ url_for('get_recipes') }}" class="btn-floating btn-large black">
                        <i class="fas fa-times"></i>
                    </a>
                    <button class="btn-floating btn-large black">
                        <i class="fas fa-pencil-alt"></i>">
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}