{% extends "base.html" %}
{% block content %}

<!-- Hero Image -->
<div class="callout-container">
</div>
<!-- Wecome text -->
<div class="container">
    <div class="row">
        <div class="col-6">
            <h3>Welcome</h3>
            <h4>This is Cocktail Collector, The site where you can collect, add and share your favourite Cocktails!</h4>
            <a href="{{ url_for('get_recipes') }}" class="waves-effect waves-light btn black">View Recepies
               </a>
               <a href="{{ url_for('register') }}" class="waves-effect waves-light btn black">Register
               </a>
        </div>
    </div>
</div>

{% endblock%}