{% extends "base.html" %}
{% block content %}
<!-- Search Bar -->
<h3 class="center-align">Recipes</h3>
<div class="container">
    <div class="row card-panel">
        <form action="{{ url_for('search') }}" method="POST" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label class="search-label" for="query">Search Recipes</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('get_recipes') }}" class="btn-floating black">
                        <i class="fas fa-times"></i></a>
                    <button type="submit" class="btn-floating black">
                        <i class="fas fa-search left"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<!-- Recipe Card -->
<div class="row container card-container">
    {% if recipes|length > 0 %}
    <div class="row">
        {% for recipe in recipes %}
        <div class="card recipe-card col 12 m3">
            <div class="card-image waves-effect waves-block waves-light">
              <img class="activator recipe-image" src="{{ recipe.img_url }}" alt="{{ recipe.img_description }}">
            </div>
            <div class="card-content">
              <span class="card-title activator grey-text text-darken-4"><strong>{{ recipe.recipe_name }}</strong></span>
            </div>
            <div class="card-reveal">
              <span class="card-title grey-text text-darken-4"><strong>{{ recipe.recipe_name }}</strong>&nbsp;<i class="fas fa-times-circle"></i></span>
              <strong>{{ recipe.category_name }}</strong>
                        <p><strong>Ingredients:</strong> {{ recipe.recipe_ingredients }}</p>
                        <p><strong>Preparation:</strong> {{ recipe.preparation }}</p>
                        <p><em>by: {{ recipe.created_by }}</em></p>
                        {% if session.user|lower == recipe.created_by|lower %}
                        <!-- delete button modal trigger -->
                        <a href="#modal1{{ loop.index }}" class="modal-trigger btn-floating btn-small black"><i class="far fa-trash-alt"></i></a>
                            <!-- delete button modal info -->
                            <div id="modal1{{ loop.index }}" class="modal container">
                                <div class="modal-content">
                                    <h4>You really want to delete <strong>{{ recipe.recipe_name }}<strong>?</h4>
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="modal-close  btn-flat">Cancel</a>
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id)}}" class="modal-close btn-flat">Delete</a>
                                </div>
                            </div>

                        <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-floating btn-small black"><i
                                class="fas fa-pencil-alt"></i></a>
                        {% endif %}
            </div>
          </div>
          {% endfor %}
        </div>
</div>

{% else %}
<h3 class="center-align">No Results Found</h3>
{% endif %}

{% endblock %}